#alert {
    position: absolute;
    top: 3%;
    right: 3%;
}

.page {
    display: none;
}

.image {
    width: 100%;
    height: 150px;
}

input[type="file"] {
    display: none;
}

.file {
    width: 100%;
    display: inline-block;
    cursor: pointer;
}